/*img.center {
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 4.6px 9.3px 9.3px hsl(0deg 0% 0% / 0.36);
}*/

img.center {
  max-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 500px;
  box-shadow: 4.6px 9.3px 9.3px hsl(0deg 0% 0% / 0.36);
}

img.nocaption {
  border-radius: 4px;
}

img.caption {
  border-radius: 8px 8px 0px 0px;  
}

.imgcaption {
  text-align:center;
  margin-top: -3px;
  background-color: #FFF;
  max-width:500px;
  font-size: 10px;
  color: #696969;
  border-radius: 0px 0px 4px 4px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 4.6px 9.3px 9.3px hsl(0deg 0% 0% / 0.36);
}

img.inline {
  height: 14px;
  vertical-align: middle;
  box-shadow: none;
}

img.inlinenonicon {
  max-height: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  vertical-align: middle;
  box-shadow: none;
}

.toc {
  display: block;
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  float: right
}

.toc ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 12px
}

div.styledsectionheader {
  display: flex;
}

div.sectionheadernumber {
  width: 40px;
  height: 40px;
  background-color: #2568FB;
  color:#FFF;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right:10px;box-shadow: .8px 1.6px 1.6px hsl(0deg 0% 0% / .48);
}

div.sectionheadernumber h3 {
  margin:0;
  width:40px;
  font-weight:bold;
  }

div.sectionheadertitle {
  background-color: #2568FB;
  color:#FFF;
  min-width: 100%;
  text-align: center;
  height: 40px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: .8px 1.6px 1.6px hsl(0deg 0% 0% / .48);
}

div.sectionheadertitle h3 {
margin: 0;
}


div.alert {
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: .8px 1.6px 1.6px hsl(0deg 0% 0% / .48);
}

div.alert::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

/* Styles for [!NOTE] */
div.note {
  background-color: #efd9fd;
  border-left: 6px solid #990df2;
}

div.note::before {
  content: "\f05a";
  /* Font Awesome icon code for a lightbulb */
  color: #990df2;
}

/* Styles for [!TIP] */
div.tip {
  background-color: #dff6dd;
  border-left: 6px solid #32cd32;
}

div.tip::before {
  content: "\f0eb";
  /* Font Awesome icon code for a lightbulb */
  color: #32cd32;
}

/* Styles for [!IMPORTANT] */
div.important {
  background-color: #d7eaf8;
  border-left: 6px solid #2589d2;
}

div.important::before {
  content: "\f06a";
  /* Font Awesome icon code for an exclamation triangle */
  color: #2589d2;
}

/* Styles for [!CAUTION] */
div.caution {
  background-color: #fde7e9;
  border-left: 6px solid #e51326;
}

div.caution::before {
  content: "\f057";
  /* Font Awesome icon code for an exclamation circle */
  color: #e51326;
}

/* Styles for [!WARNING] */
div.warning {
  background-color: #fff4ce;
  border-left: 6px solid #f5be00;
}

div.warning::before {
  content: "\f071";
  /* Font Awesome icon code for an exclamation circle */
  color: #f5be00;
}